* {
    margin: 0px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:;
    margin: 0px 200px;
}

#nav-title {
    color: #181818;
  font-size: 45px;
  font-weight: 800;
  margin: 45px 0px;
}

#name-color {
    color: #FD6E0A ;
}

#nav-actions {
    display: flex;
    align-items: center;
    color: #474747;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li {
    margin: 0px 25px;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.header-content {
    background-color: #FFF8F3;
    padding: ;
}

.banner {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 30px 40px 0px 150px;
}

.banner-content {
    max-width: 585px
}

#secondery-text {
    font-size: 45px ;
    color: #474747;
}

#name-text {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

#banner-image img {
    width: 500px;
}

#banner-description {
    margin: 16px 0px;
    letter-spacing: 1px;
    word-spacing: 1%;
    line-height: 25px;
}

.header-content {
    background-color: #fff8f3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.about-section {
    margin: 130px 0px;
    padding: 130px ;
    background-color: #fff8f3;
}

.about-content {
    text-align: center;
}

.section-title {
    font-size: 35px;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin: 18px 0px;
    line-height: 25px;
}