* {
    margin: 0px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#navbar {
    display: flex;
    
}

#nav-title {
    font-weight: 600;
}

#nav-actions {
    display: flex;
}